[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
Obj/
[Mm]emoryCaptures/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Ignore logs and PlasticSCM metadata
Logs/
.plastic/
