**/Assets/AddressableAssetsData/*/*.bin*
**/Assets/AssetStoreTools
**/Assets/StreamingAssets/aa.meta
**/assets/addressableassetsdata/*/*.bin*
**/assets/assetstoretools
**/assets/streamingassets/*/aa/*
*.VC.db
*.aab
*.apk
*.app
*.booproj
*.csproj
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.private
*.private.meta
*.sln
*.suo
*.svd
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
.DS_Store*
.consulo
.gradle
.idea
.vs
.vscode
.vscode/
/Assets/Plugins/PlasticSCM*
/assets/plugins/PlasticSCM*
Build
Builds
Desktop.ini
ExportedObj
Library
Logs
Logs/
MemoryCaptures
Obj
Obj/
Temp
Thumbs.db
UserSettings
UserSettings/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Mm]emoryCaptures/
[Tt]emp/
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
build
builds
crashlytics-build.properties
library
logs
memorycaptures
obj
sysinfo.txt
temp
usersettings
~UnityDirMonSyncFile~*
